*{
    margin: 0;
}
.wrapper{
    display: grid;
    height: 100vh;
    background: #1cbaba;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    gap: 50px;
}
.item{
    background-color: lightpink;
    border: 1px solid;
}
.wrapper div:nth-child(5){
    background-color: #6F1DF4;
}