.grid-container{
    display: grid;
    height: 400px;
    background-color: #d1cbcb;
    border: 1px solid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    justify-content: center;
    align-content: center;
    /*justify-items: center;*/
    /*align-items: center;*/
}
.item{
    background-color: #c10bbf;
    border: 2px solid;
    /*height: 70px;*/
    /*width: 70px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}