body{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    height: 100vh;
}
.card{
    width: 200px;
    height: 250px;
    background-color: #5454D4;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sale{
    width: 70px;
    height: 45px;
    background-color: #5454D4;
    position: absolute;
    top: -20px;
    border-radius: 20px 20px 0 0;

}
.sale-bottom{
    width: 70px;
    height: 45px;
    background-color: #5454D4;
    position: absolute;
    bottom: -20px;
    border-radius: 0 0 20px 20px;
}