body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-top: 30px solid #e9ef4b;
    border-right: 30px solid #1414ff;
    border-bottom: 30px solid #f651a3;
    border-left: 30px solid lime;
    animation: preloader 6s linear infinite alternate;
}
@keyframes preloader {
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(-360deg) scale(1.5);
    }
}