body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.boat{
    height: 200px;
    animation: boat 4s ease-in-out alternate;
}
.wave{
    height: 200px;
    animation: wave 4s ease-in-out alternate;
}

@keyframes boat {
    from{
        transform: translate(0, 0);
    }
    10%{
        transform: translate(30px, 10px);
    }
    20%{
        transform: translate(60px, -15px);
    }
    30%{
        transform: translate(90px, 15px);
    }
    40%{
        transform: translate(120px, -10px);
    }
    50%{
        transform: translate(150px, 10px);
    }
    60%{
        transform: translate(200px, -5px);
    }
    70%{
        transform: translate(230px, 10px);
    }
    80%{
        transform: translate(260px, -10px);
    }
    70%{
        transform: translate(290px, 5px);
    }
    to{
        transform: translate(320px, 0);
    }
}
@keyframes wave {
    from{
        transform: skew(15deg);
    }
    50%{
        transform: scale(1.2);
    }
    to{
        transform: skew(-15deg);
    }
}