body{
    background-image: url("img/bgimage2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}
p{
    color: green;
    /*font-size: 32px;*/
    width: 50%;
    height: 50px;
    background-color: lightcoral;
    display: inline-block;
}
h2, h3{
    color: brown;
}
sub, sup{
    font-size: 14px;
    color: red;
}
span{
    /*font-size: 40px;*/
    width: 50%;
    height: 50px;
    background-color: lightblue;
    color: orange;
    display: inline-block;
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
