*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #2b592d;
}
.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}
.card{
    width: 220px;
    height: 200px;
    background-color: #d0dcb9;
    border: 1px solid grey;
    border-radius: 5px;
    transition: 0.8s;
}
.card h1 {
    font-size: 20px;
    padding: 20px;
}
.card p {
    font-size: 14px;
    padding: 0 0 10px 20px;
}
.card:hover {
    transition: 0.8s;
    transform: scale(1.1);
}