p{
    color: darkred;
    /*font-size: 32px;*/
    width: 40%;
    height: 50px;
    background-color: grey;
    display: inline-block;
}
span{
    /*font-size: 40px;*/
    color: indigo;
    width: 40%;
    height: 50px;
    background-color: lightpink;
    display: inline-block;
}