@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin:0;
    font-family: "Inter", sans-serif;
    font-size: 45px;
    font-weight: 400;
}
header{
    height: 20vh;
    background: #8D8484;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
main{
    display: flex;
}
section{
    height: 20vh;
    width: 73vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.main__content-1{
    background: #776969;
}
.main__content-2{
    background: #643030;
}
.main__content-3{
    background: #441818;
}
aside{
    height: 30vh;
    width: 27vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.main__spam-1{
    background: #937575;
}
.main__spam-2{
    background: #644C4C;
}
footer{
    height: 20vh;
    background: #8D8484;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}